/* .products-image{
    width:420px;
    height:250px;
    border-radius: 10px;
} */

/* .home_page_image{
    width:330px;
    height:225px;
    border-radius: 10px;
} */

/* style="aspect-ratio: 1 / 1" */