
{% autoescape off %}
<div class="container">
    <div class="header">
        <img src="https://yourlogo.com/logo.png" alt="Your Company Logo">
    </div>
    <div class="content">
        <h2>Email Verification</h2>
        <p>Hello {{ user.username }},</p>
        <p>to Reset your password click on below link: </p>
        <a href="{{ link }}">Reset Password</a>
    </div>
    <div class="footer">
        <p>If you didn't create an account with us, please ignore this email.</p>
    </div>
</div>
{% endautoescape %}
