{% include "base.html" %}

{% block content %}
<br>
    {% if form.error %}
        {% for e in form.error %}
            <h2>{{ e }}</h2>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="col-4 mx-auto ">
            <form method="post">
                {% csrf_token %}
                <label class="form-label">{{ form.old_password.label}}</label>
                {{ form.old_password}}
                <label class="form-label">{{ form.new_password1.label}}</label>
                {{ form.new_password1}}
                <label class="form-label">{{ form.new_password2.label}}</label>
                {{ form.new_password2}}
                <br>
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Change</button>
            </form>
        </div>
    </div>
{% endblock content %}