{% include "base.html" %}

{% block content %}
<br><br>
    {% if form.error %}
        {% for e in form.error %}
            <h2>{{ e }}</h2>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="col-6 text-center">
            <form method="post">
                {% csrf_token %}
                <h4>Are you sure want to <b class="text-danger">Delete Your account</b>? </h4>
                <br>
                <button class="btn rounded-3 btn-danger" type="submit">Logout</button>
            </form>
        </div>
    </div>
{% endblock content %}
